@use "sass:math";

$grid-breakpoints: (
  xxs: 280px,
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xl2: 1400px,
  xl3: 1800px
);

$rem-baseline: 16;

@mixin breakpoint-up($size) {
  @media all and (min-width: $size) {
    @content;
  }
}

@function breakpoint($name) {
  @return map-get($grid-breakpoints, $name);
}

@function bp($name) {
  @return breakpoint($name);
}

@function stripUnit($value) {
  @return math.div($value, $value * 0 + 1);
}

@function rem($pxValue) {
  @return #{math.div(stripUnit($pxValue), stripUnit($rem-baseline))}rem;
}
