html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Atacama Beta VAR';
  font-weight: 300;
  font-size: rem(12);
  letter-spacing: 0.01em;
  line-height: 1.834em;
}


* {
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

.h-label {
  font-family: 'Baikal VAR';
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 2em;
  padding-bottom: rem(20);
}

.h-p {
  p {
    padding-bottom: 1em;
  }
}

@include breakpoint-up(bp(md)) {
  body {
    font-size: rem(14);
  }

  .h-label {
    padding-bottom: rem(30);
  }
}

@include breakpoint-up(bp(xl2)) {
  body {
    font-size: rem(18);
  }
  
  .h-label {
    padding-bottom: rem(40);
  }
}
