@font-face {
  font-family: 'Atacama Beta VAR';
  src: url('~assets/fonts/AtacamaVF.ttf') format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: 'Baikal VAR';
  src: url('~assets/fonts/Baikal-VF.ttf') format('truetype');
  font-display: fallback;
}

// @font-face {
//   font-family: 'Gotham';
//   src: url('~assets/fonts/Gotham-Bold.otf') format('opentype');
//   font-weight: 600;
//   font-style: normal;
//   font-display: fallback;
// }

// @font-face {
//   font-family: 'Gotham Book';
//   src: url('~assets/fonts/Gotham-Book.otf') format('opentype');
//   font-weight: normal;
//   font-style: normal;
//   font-display: fallback;
// }

// @font-face {
//   font-family: 'Gotham Book';
//   src: url('~assets/fonts/Gotham-BookItalic.otf') format('opentype');
//   font-weight: normal;
//   font-style: italic;
//   font-display: fallback;
// }

// @font-face {
//   font-family: 'Gotham';
//   src: url('~assets/fonts/Gotham-LightItalic.otf') format('opentype');
//   font-weight: 300;
//   font-style: italic;
//   font-display: fallback;
// }

// @font-face {
//   font-family: 'Gotham';
//   src: url('~assets/fonts/Gotham-Medium.otf') format('opentype');
//   font-weight: normal;
//   font-style: normal;
//   font-display: fallback;
// }
