@font-face {
  font-family: 'Atacama Beta VAR';
  src: url('~assets/fonts/AtacamaVF.ttf');
  font-display: fallback;
}

@font-face {
  font-family: 'UTF Blank Grotesque Regular';
  src: url('~assets/fonts/UTFBlankGrotesqueVF.woff2');
  font-display: fallback;
}

@font-face {
  font-family: 'ND-Logotype Regular';
  src: url('~assets/fonts/ND-LogotypeVF.woff2');
  font-display: fallback;
}
